<div id="header">
	<%= link_to 'HOME', pages_index_path, :id => 'home' %>
<div class="clear"></div>
		<div id="navigation">
				<%= link_to 'Heating', pages_heating_path, :id => 'heating' %>
				<%= link_to 'Air Conditioning', pages_air_path, :id => 'air' %>
				<%= link_to 'Repair & Service', pages_repair_path, :id => 'repair' %>
				<%= link_to 'HVAC Discounts', pages_discounts_path, :id => 'discounts' %>
				<%= link_to 'Customer Testimonials', pages_testimonials_path, :id => 'testimonials'%>
				<%= link_to 'Warranties', pages_warranties_path, :id => 'warranties'%>
				<%= link_to 'Contact Us', pages_contact_path, :id => 'contact'%>
	</div>
</div>