<div id="header">
	<%= link_to '', pages_index_path, :id => 'home' %>
	<div id="call">
		<h3>Call 24 Hours / 7 Days A Week</h3>
		<h1>847-288-1788</h1>
	</div>	
	<%= link_to '', pages_testimonials_path, :id => 'angie' %>
  <div id="social_sprite">
  	<a href="https://plus.google.com/u/0/104441890985233001425/posts" target="_blank">
  		<span class="google-plus"></span>
		</a>
		<a href="https://www.facebook.com/pages/Freedom-Heating-Cooling-Franklin-Park/153751817975312" target="_blank">
	  	<span class="facebook"></span>
		</a>
		<a href="http://www.angieslist.com/companylist/us/il/franklin-park/freedom-heating-and-cooling-reviews-2198024.htm" target="_blank">
  		<span class="angies-list"></span>
  	</a>
  	<span class="twitter"></span>
  	<span class="youtube"></span>
  </div>

<div class="clear"></div>
		<div id="navigation">
				<%= link_to 'Heating', pages_heating_path, :id => 'heating' %>
				<%= link_to 'Air Conditioning', pages_air_path, :id => 'air' %>
				<%= link_to 'Repair & Service', pages_repair_path, :id => 'repair' %>
				<%= link_to 'HVAC Discounts', pages_discounts_path, :id => 'discounts' %>
				<%= link_to 'Customer Testimonials', pages_testimonials_path, :id => 'testimonials'%>
				<%= link_to 'Warranties', pages_warranties_path, :id => 'warranties'%>
				<%= link_to 'Contact Us', pages_contact_path, :id => 'contact'%>
				<%= link_to 'Careers', pages_careers_path, :id => 'careers'%>

	</div>
</div>