<div id="header">
	<%= link_to '', pages_index_path, :id => 'home' %>
	<div id="call">
		<h3>Call 24 Hours / 7 Days A Week</h3>
		<h1>847-288-1788</h1>
	</div>	
	<%= link_to '', pages_testimonials_path, :id => 'angie' %>
  <div id="social_sprite"></div>

<div class="clear"></div>
		<div id="navigation">
				<%= link_to 'Heating', pages_heating_path, :id => 'heating' %>
				<%= link_to 'Air Conditioning', pages_air_path, :id => 'air' %>
				<%= link_to 'Repair & Service', pages_repair_path, :id => 'repair' %>
				<%= link_to 'HVAC Discounts', pages_discounts_path, :id => 'discounts' %>
				<%= link_to 'Customer Testimonials', pages_testimonials_path, :id => 'testimonials'%>
				<%= link_to 'Warranties', pages_warranties_path, :id => 'warranties'%>
				<%= link_to 'Contact Us', pages_contact_path, :id => 'contact'%>
	</div>
</div>