<div id="header">
	<div id="navigation">
		<nav id="upper_nav">
			<%#= link_to 'Home', pages_index_path, :id => 'my_home', :class => 'nav'%>
			<%#= link_to 'Contact Us', pages_about_path, :id => 'contact', :class => 'nav' %>
			<%= link_to 'Login', pages_login_path, :id => 'login', :class => 'nav' %>
		</nav>
		<nav id="lower_nav">		
			<%= link_to 'ABOUT US', pages_about_path, :id => 'about' %>
			<%= link_to 'PORTFOLIO', pages_portfolio_path, :id => 'work' %>
			<%= link_to 'SERVICES', pages_services_path, :id => 'services' %>
			<%= link_to 'OUR TEAM', pages_team_path, :id => 'team' %>
			<%= link_to 'WORK ORDER SYSTEM', pages_wos_path, :id => 'wos'%>
		</nav>
	</div>
<div class="clear"></div>
	<%= link_to 'HOME', pages_index_path, :id => 'home' %>
</div>