//Navigation
= render partial: "/pages/navigation"
//Homepage
= render partial: "/pages/homepage"
//Heating and Cooling
= render partial: "/pages/heatingcooling"
//Warranties
= render partial: "/pages/warranties"
//Testimonials
= render partial: "/pages/testimonials"
//Discounts
= render partial: "/pages/discounts"
//Careers
= render partial: "/pages/careers"
//Contact Us
= render partial: "/pages/contact"
