<div id="home_wrapper">
  <div id="container">
	   <div class="slideshow">
      <div class="slides">
        <div style="visibility:visible" class="slide" id="image1">
            <%= link_to(pages_contact_path) do %>
              <img alt="" src="/assets/banner1.jpg" />
            <% end %>
        </div>
        <div class="slide" id="image2">
            <%= link_to(pages_repair_path) do %>
              <img alt="" src="/assets/banner2.jpg" />
            <% end %>
        </div>
        <div class="slide" id="image3">
            <%= link_to(pages_discounts_path) do %>
              <img alt="" src="/assets/banner3.jpg" />
            <% end %>
        </div>
        <div class="slide" id="image4">
            <%= link_to(pages_air_path) do %>
              <img alt="" src="/assets/banner4.jpg" />
            <% end %>
        </div>
      </div>
    </div>

    <div id="info">
  		<h1>Freedom Heating & Cooling</h1>
  		<p>
        Thank you for visiting Freedom Heating & Cooling. We are here to serve you - Whether it's heating or cooling, we've got you covered. Our licensed & insured technicians are on call 24 hours a day, 7 days a week. We take great pride in our prompt service and rapid response. With 20 years of experience, our technicians offer reliable service that you can count on and at prices you can afford. See our Heating Coupons and Air Conditioning coupons.
      </p>

      <div id='logos'></div>

      <div id="services">
        <h1>Services</h1>
        <ul>
          <li>24 Hour Emergency Service</li>
          <li>Residential & Commercial HVAC Systems</li>
          <li>Air Conditioning Repair - All Makes & Models</li>
          <li>Air Conditioning Installation</li>
          <li>Air Conditioning Tune Ups</li>
          <li>Heating Repair</li>
        </ul>
      </div>

      <%= link_to(pages_discounts_path) do %>
        <div class="coupon">
          <h2>Save $35</h2>
          <p>Any Repair <br>Over $200</p>
          <% %>
        </div>
      <% end %>

      <%= link_to(pages_discounts_path) do %>
        <div class="coupon">
          <h2>$250 OFF</h2>
          <p>Any New <br> Installation Package</p>
        </div>
      <% end %>

      <div class='clear'></div>


      <div id="accredited">
        <div id="bbb"></div>

      <%= link_to(pages_testimonials_path) do %>
        <span id="testimonials_home"></span>
      <% end %>

        <div id="angies"></div>
      </div>

      <div class='clear'></div>
    </div>
	</div>
</div>